<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.gemoc.execution.feedbackengine.compiler" name="org.gemoc.execution.feedbackengine.compiler" schema="schema/org.gemoc.execution.feedbackengine.compiler.exsd"/>
   <extension-point id="org.gemoc.execution.feedbackengine.feedbackinterpreterconfiguration" name="org.gemoc.execution.feedbackengine.feedbackinterpreterconfiguration" schema="schema/org.gemoc.execution.feedbackengine.feedbackinterpreterconfiguration.exsd"/>

</plugin>
