<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ad2petri-traceability -->
      <package
            uri="ad2petritraceability"
            class="ad2petritraceability.Ad2petritraceabilityPackage"
            genModel="model/ad2petri-traceability.genmodel"/>
   </extension>

</plugin>
