<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.gemoc.execution.feedbackengine.compiler">
      <compiler
            class="org.tetrabox.examples.statemachines.compiler.StateMachinesCompiler"
            id="statemachines-compiler">
      </compiler>
   </extension>

</plugin>
