/ActivitydiagramFactoryAdapter.java
/.ActivityEdgeAdapter.java._trace
/ControlFlowAdapter.java
/.OpaqueActionAdapter.java._trace
/.InitialNodeAdapter.java._trace
/.ActivityFinalNodeAdapter.java._trace
/ForkedTokenAdapter.java
