<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ActivityDiagramToPetriNet -->
      <package
            uri="http://org.gemoc.activitydiagram.sequential.ad2petri.activitydiagramtopetrinet/activitydiagram/"
            class="org.gemoc.activitydiagram.sequential.ad2petri.activitydiagramtopetrinet.activitydiagram.ActivitydiagramPackage"
            genModel="model/ActivityDiagramToPetriNet.genmodel"/>
   </extension>

</plugin>
