<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.gemoc.execution.feedbackengine.compiler">
      <compiler
            class="org.gemoc.activitydiagram.sequential.ad2petri.compiler.Ad2PetriCompiler"
            id="ad2petri">
      </compiler>
   </extension>

</plugin>
