<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.gemoc.execution.feedbackengine.feedback">
      <feedback
            class="org.gemoc.activitydiagram.sequential.ad2petri.feedback.Ad2PetriFeedbackConfiguration"
            id="ad2petri-feedback">
      </feedback>
   </extension>

</plugin>
